@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

* {
  font-family: 'Stick', sans-serif;
  color: #2f3a39;
}

.memo-rune {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    background-color: gainsboro;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
  }

  .left-panel {
    min-width: 350px;
    min-height: 500px;
    width: 30%;
    max-width: 500px;

    border: 2px solid #2f3a39;
    border-radius: 8px;
    margin-right: 3%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .ui-bar {
      border-bottom: 2px solid #2f3a39;
      border-radius: 8px;
    }

    .danger-runes {
      border-bottom: 2px solid #2f3a39;
      border-top: 2px solid #2f3a39;
      border-radius: 8px;

      display: grid;
      grid-template-columns: repeat(5, 60px);
      grid-template-rows: repeat(1, 100px);
      column-gap: 6px;
    }

    .rune-pairs {
      border-top: 2px solid #2f3a39;
      border-bottom: 2px solid #2f3a39;
      border-radius: 8px;

      display: grid;
      grid-template-columns: repeat(5, 60px);
      grid-template-rows: repeat(3, 100px);
      column-gap: 6px;
    }
  }

  .rune-area {
    min-width: 500px;
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(4, 100px);
    column-gap: 4px;
    grid-auto-flow: column;
  }
}
